/* 全局样式 */
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0px;padding:0px;border:0px;}
body{background:url(../images/bg_body_top.jpg) top center no-repeat;background-color:#FFF;color:#333;font-size:12px; margin-top:5px;font-family:"SimSun","宋体","微软雅黑","Arial Narrow";}

ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}

a{text-decoration:none;}
a:link{color:#333;}
a:visited{color:#333;}
a:hover,a:active,a:focus{color:#c00;}
.fixed:after{clear:both;content:".";display:block;height:0px;visibility:hidden;}
.diamond{height:24px;line-height:24px;font-size:14px;font-weight:bold;background:url(../images/ico_diamond.jpg) left center no-repeat;}
a.more{float:right;height:24px;line-height:24px;margin-right:6px;color:#ADB1B3}

.topmenu{text-align:right;margin-top:10px;margin-right:10px;}
.topmenu ul li a{margin:0px 5px;}
.top,.menu,.slider,.qqbox,.box_1,.box_2,.box_3,.box_4{width:1000px;margin:0px auto;min-height:40px}
/* 顶部开始 */
.top{height:130px;}.logo{width:428px;height:114px;display:block;float:left}
/* 顶部结束 */

/* 导航开始 */
.menu{background:url(../images/bg_menu.jpg) top center no-repeat;height:39px;}
.menu ul li{height:39px;line-height:39px;float:left;margin:0px 17px}
.menu ul li a{width:100%;display:block;font-size:14px;color:#FFF}
/* 导航结束 */


/* 底部开始 */
.foot{width:1000px;margin:0px auto;margin-top:10px}
.foot p{text-align:center;height:24px;line-height:24px;font-weight:bold;}
/* 底部结束 */

