<!-- 头部开始 -->
<div class="top fixed">
	<a href="{siteurl($siteid)}" class="logo"></a>
	<ul class="topmenu">
		<li><a href="{$CATEGORYS[25]['url']}" class="topmenu">关于我们</a>&nbsp;|&nbsp;<a href="{$CATEGORYS[20]['url']}" class="topmenu">人才招聘</a></li>
	</ul>
</div>
<!-- 头部结束 -->

<!-- 导航开始 -->
<div class="menu fixed">
<ul>
	<li><a href="{siteurl($siteid)}">网站首页</a></li>
	<li><a href="{$CATEGORYS[1]['url']}">{$CATEGORYS[1]['catname']}</a></li>
	<li><a href="{$CATEGORYS[6]['url']}">{$CATEGORYS[6]['catname']}</a></li>
	<li><a href="{$CATEGORYS[7]['url']}">{$CATEGORYS[7]['catname']}</a></li>
	<li><a href="{$CATEGORYS[8]['url']}">{$CATEGORYS[8]['catname']}</a></li>
	<li><a href="{$CATEGORYS[9]['url']}">{$CATEGORYS[9]['catname']}</a></li>
	<li><a href="{$CATEGORYS[10]['url']}">{$CATEGORYS[10]['catname']}</a></li>
	<li><a href="{$CATEGORYS[11]['url']}">{$CATEGORYS[11]['catname']}</a></li>
	<li><a href="{$CATEGORYS[12]['url']}">{$CATEGORYS[12]['catname']}</a></li>
	<li><a href="{$CATEGORYS[13]['url']}">{$CATEGORYS[13]['catname']}</a></li>
	<li><a href="{$CATEGORYS[14]['url']}">{$CATEGORYS[14]['catname']}</a></li>
</ul>
</div>
<!-- 导航结束 -->