<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
	<meta name="keywords" content="{$SEO['keyword']}"/>
	<meta name="description" content="{$SEO['description']}"/>
	<link rel="stylesheet" type="text/css" href="{SKIN_PATH}/css/main.css"/>
	<link rel="stylesheet" type="text/css" href="{SKIN_PATH}/css/index.css"/>
	<script type="text/javascript" src="{SKIN_PATH}/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{SKIN_PATH}/js/jquery.SuperSlide.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		var tab_title = $(".tab_title ul").find("li");
		var tab_content = $(".tab_content").find("ul");
		Tabchange(tab_title,tab_content);
		var menu_title = $(".menu_title").find("li");
		var menu_content = $(".menu_content").find("li");
		Tabchange(menu_title,menu_content);
	});
	//选项卡切换
	function Tabchange(menu,content)
	{
		menu.each(function(i){
			menu.eq(i).hover(function(){
				menu.removeClass("hover");
				menu.eq(i).addClass("hover");
				content.hide();
				content.eq(i).show();
			});
		});
	}
	</script>
</head>
<body>
	{template "content","inc_header"}
	
	<!-- 幻灯片开始 -->
	<div class="slider fixed">
		<div class="flashnews">
		 <!-- size: 831px * 320px -->
	   <script language='javascript'>
		linkarr = new Array();
		picarr = new Array();
		textarr = new Array();
		var swf_width=831;
		var swf_height=320;
		//文字颜色|文字位置|文字背景颜色|文字背景透明度|按键文字颜色|按键默认颜色|按键当前颜色|自动播放时间|图片过渡效果|是否显示按钮|打开方式
		var configtg='0xffffff||0x3FA61F|5|0xffffff|0xC5DDBC|0x000033|2|3|1|_blank';
		var files = "";
		var links = "";
		var texts = "";
		//这里设置调用标记
		/*{dede:arclist flag='f' row='5'}
		linkarr[[field:global.autoindex/]] = "[field:arcurl/]";
		picarr[[field:global.autoindex/]]  = "[field:litpic/]";
		textarr[[field:global.autoindex/]] = "[field:title function='html2text(@me)'/]";
		{/dede:arclist}*/
		linkarr[1] = "#";
		picarr[1]  = "{SKIN_PATH}/images/img_slider.jpg";
		textarr[1] = "";
		linkarr[2] = "#";
		picarr[2]  = "{SKIN_PATH}/images/img_slider.jpg";
		textarr[2] = "";
		linkarr[3] = "#";
		picarr[3]  = "{SKIN_PATH}/images/img_slider.jpg";
		textarr[3] = "";
		
		for(i=1;i<picarr.length;i++){
		if(files=="") files = picarr[i];
		else files += "|"+picarr[i];
		}
		for(i=1;i<linkarr.length;i++){
		if(links=="") links = linkarr[i];
		else links += "|"+linkarr[i];
		}
		for(i=1;i<textarr.length;i++){
		if(texts=="") texts = textarr[i];
		else texts += "|"+textarr[i];
		}
		document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
		document.write('<param name="movie" value="{SKIN_PATH}/images/bcastr3.swf"><param name="quality" value="high">');
		document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
		document.write('<param name="FlashVars" value="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'&bcastr_config='+configtg+'">');
		document.write('<embed src="{SKIN_PATH}/images/bcastr3.swf" wmode="opaque" FlashVars="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'&bcastr_config='+configtg+'&menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); document.write('</object>');
		</script>
		</div>
		<div class="rmenu">
		<ul>
			<li><a href="{$CATEGORYS[43]['url']}"><img src="{SKIN_PATH}/images/bg_senior_school.jpg" alt="" /></a></li>
			<li><a href="{$CATEGORYS[44]['url']}"><img src="{SKIN_PATH}/images/bg_secondary_school.jpg" alt="" /></a></li>
			<li><a href="{$CATEGORYS[45]['url']}"><img src="{SKIN_PATH}/images/bg_university_school.jpg" alt="" /></a></li>
			<li><a href="{$CATEGORYS[46]['url']}"><img src="{SKIN_PATH}/images/bg_incumbents_school.jpg" alt="" /></a></li>
			<li><a href="{$CATEGORYS[47]['url']}"><img src="{SKIN_PATH}/images/bg_qualifications_school.jpg" alt="" /></a></li>
		</ul>
		</div>
	</div>
	<!-- 幻灯片结束 -->
	
	<!-- box_1开始 -->
	<div class="box_1 fixed">
		<div class="order fixed">
			 {pc:content action="category" catid="26"  siteid="$siteid" order="listorder ASC"} 
			{loop $data $n $r}
			<dl>
				<dt>{$r['catname']}</dt>
				<dd>
				<ul>
					{php $catid = $r['catid']}
					{pc:get sql="SELECT A.catid,A.title,A.url,B.leftnum FROM `pd_kbxx` A INNER JOIN `pd_kbxx_data` B ON A.id=B.id WHERE A.catid = $catid" return="rows"} 
					{loop $rows $val}
					<li><span class="sp_txt">{$val[title]}</span><a href="{$CATEGORYS[14]['url']}">预约报名</a><span class="sp_red">{$val[leftnum]}</span></li>
					{/loop}
					{/pc} 
				</ul>
				</dd>
			</dl>
			{/loop}
			{/pc} 
			
		</div>
		<div class="box_1_1">
		<div class="news fixed">
		<dl>
			<dt></dt>
			<dd class="tab_title fixed">
			<ul>
				<li class="hover"><a href="{$CATEGORYS[22]['url']}">{$CATEGORYS[22]['catname']}</a></li>
				<li><a href="{$CATEGORYS[23]['url']}">{$CATEGORYS[23]['catname']}</a></li>
				<li><a href="{$CATEGORYS[24]['url']}">{$CATEGORYS[24]['catname']}</a></li>
			</ul>
			</dd>
			<dd class="tab_content fixed">
				{pc:content  action="position" posid="2" catid="22" order="listorder DESC" num="4"}
				<ul>
					{loop $data $r}
					<li><span class="title"><a href="{$r[url]}" target="_blank" title="{$r[title]}">[{$CATEGORYS[22]['catname']}]{$r[title]}</a></span><span class="date">{date('Y-m-d',$r['inputtime'])}</span></li>
					{/loop}
				</ul>
				{/pc}
				{pc:content  action="position" posid="2" catid="23" order="listorder DESC" num="4"}
				<ul style="display:none">
					{loop $data $r}
					<li><span class="title"><a href="{$r[url]}" target="_blank" title="{$r[title]}">[{$CATEGORYS[23]['catname']}]{$r[title]}</a></span><span class="date">{date('Y-m-d',$r['inputtime'])}</span></li>
					{/loop}
				</ul>
				{/pc}
				{pc:content  action="position" posid="2" catid="24" order="listorder DESC" num="4"}
				<ul style="display:none">
					{loop $data $r}
					<li><span class="title"><a href="{$r[url]}" target="_blank" title="{$r[title]}">[{$CATEGORYS[24]['catname']}]{$r[title]}</a></span><span class="date">{date('Y-m-d',$r['inputtime'])}</span></li>
					{/loop}
				</ul>
				{/pc}
			</dd>
		</dl>
		</div>
		<div class="map fixed">
		<dl>
			<dt></dt>
			<dd class="map_content">
			<img src="{SKIN_PATH}/images/img_map.jpg" alt="" />
			</dd>
		</dl>
		</div>
		</div>
		<div class="box_1_2">
		<div class="contact fixed">
		<dl>
			<dt class="title"></dt>
			<dd><img src="{SKIN_PATH}/images/img_tel.jpg" alt="" /></dd>
			<dd><img src="{SKIN_PATH}/images/img_address.jpg" alt="" /></dd>
		</dl>
		</div>
		<div class="star">
		<dl>
			<dt></dt>
			<dd class="starbox">
				{pc:content action="lists" catid="39" order="listorder DESC" num="20"}
				<div class="starbox_roll">
				<ul>
					{loop $data $r}
					<li><a href="javascript:void(0);">{$r[title]}</a></li>
					{/loop}
				</ul>
				</div>
				{/pc}
			</dd>
			<script type="text/javascript">
			jQuery(".starbox").slide({mainCell:".starbox_roll ul",autoPlay:true,effect:"topMarquee",vis:4,interTime:50});
			</script>
		</dl>
		</div>
		</div>
	</div>
	<!-- box_1结束 -->
	
	<!-- box_2开始 -->
	<div class="box_2 fixed">
	<div class="box_2_1">
	<dl>
		<dt class="fixed"><span class="title diamond">关于我们</span><a href="{$CATEGORYS[25]['url']}" class="more">更多&gt;&gt;</a></dt>
		<dd>
		<p><img src="{SKIN_PATH}/images/img_about_index.jpg" alt="" /></p>
		<p><a href="{$CATEGORYS[25]['url']}" class="title">庞大中锐汽车学院</a></p>
<p class="content">庞大中锐汽车学院是庞大汽贸集团与中锐教育集团携手打造的国际化、现代化、企业化的汽车服务人才培养基地，实施订单招生、定向培养、定岗就业，为庞大汽贸集团等国内大型汽车经销商集团...</p>
		</dd>
	</dl>
	</div>
	<div class="box_2_2">
	<dl>
		<dt class="fixed"><span class="title diamond">精彩图片</span><a href="{$CATEGORYS[31]['url']}" class="more">更多&gt;&gt;</a></dt>
		<dd class="content">
			<ul class="menu_title">
				<li class="hover"><a href="{$CATEGORYS[32]['url']}" title="{$CATEGORYS[32]['title']}">学习环境</a></li>
				<li><a href="{$CATEGORYS[33]['url']}" title="{$CATEGORYS[33]['title']}">生活环境</a></li>
				<li><a href="{$CATEGORYS[34]['url']}" title="{$CATEGORYS[34]['title']}">校园活动</a></li>
				<li style="border-bottom:0px"><a href="{$CATEGORYS[35]['url']}" title="{$CATEGORYS[35]['title']}">实训设备</a></li>
			</ul>
			<ul class="menu_content">
				{pc:content  action="position" posid="2" catid="32" order="listorder DESC" num="1"}
				{loop $data $r}
				<li><a href="{$r[url]}"><img src="{thumb($r[thumb],294,200)}" alt="{$r[title]}" title="{$r[title]}"/></a></li>
				{/loop}
				{/pc}
				{pc:content  action="position" posid="2" catid="33" order="listorder DESC" num="1"}
				{loop $data $r}
				<li style="display:none"><a href="{$r[url]}"><img src="{thumb($r[thumb],294,200)}" alt="{$r[title]}" title="{$r[title]}"/></a></li>
				{/loop}
				{/pc}
				{pc:content  action="position" posid="2" catid="34" order="listorder DESC" num="1"}
				{loop $data $r}
				<li style="display:none"><a href="{$r[url]}"><img src="{thumb($r[thumb],294,200)}" alt="{$r[title]}" title="{$r[title]}"/></a></li>
				{/loop}
				{/pc}
				{pc:content  action="position" posid="2" catid="35" order="listorder DESC" num="1"}
				{loop $data $r}
				<li style="display:none"><a href="{$r[url]}"><img src="{thumb($r[thumb],294,200)}" alt="{$r[title]}" title="{$r[title]}"/></a></li>
				{/loop}
				{/pc}
			</ul>
		</dd>
	</dl>
	</div>
	<div class="box_2_3">
	<dl>
		<dt class="fixed"><span class="title diamond">商学院视频</span><a href="{$CATEGORYS[36]['url']}" class="more">更多&gt;&gt;</a></dt>
		<dd class="video">
		{pc:content action="position" posid="15" catid="36" moreinfo="1" order="listorder DESC" num="1"}
		{loop $data $r}
		<embed src="{$r['videourl']}" allowFullScreen="true" quality="high" width="240" height="164" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
		{/loop}
		{/pc}
		</dd>
		<dd class="title">
			{pc:content action="lists" catid="36" order="listorder DESC" num="4"}
			<ul>
				{loop $data $r}
				<li><a href="{$r[url]}">{$r[title]}</a></li>
				{/loop}
			</ul>
			{/pc}
		</dd>
	</dl>
	</div>
	
	</div>
	<!-- box_2结束 -->
	
	<!-- qqbox 开始 -->
	<div class="qqbox">
	<ul>
		{pc:content action="lists" catid="41" num="5" order="listorder ASC" moreinfo="1"}
		{loop $data $r}
		<li>{$r[title]} <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$r['qq']}&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:{$r['qq']}:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a></li>
		{/loop}
		{/pc}
		
	</ul>
	</div>
	<!-- qqbox 结束 -->
	
	<!-- box_3开始 -->
	<div class="box_3 fixed">
		<div class="box_3_1">
		<dl>
			<dt class="fixed"><span class="title diamond">就业分配</span><a href="{$CATEGORYS[7]['url']}" class="more">更多&gt;&gt;</a></dt>
			<dd>
			<img src="{SKIN_PATH}/images/img_map_jyfp.jpg" alt="" />
			</dd>
		</dl>
		</div>
		<div class="box_3_2">
		<dl>
			<dt class="fixed"><span class="title diamond">名师风采</span><a href="{$CATEGORYS[8]['url']}" class="more">更多&gt;&gt;</a></dt>
			{pc:content action="lists" catid="8" num="2" order="listorder ASC" moreinfo="1"}
			<dd>
			{loop $data $r}
			<ul class="dashed">
				<li class="photo"><a href="{$r[url]}"><img src="{thumb($r[thumb],132,93)}" alt="{$r[title]}" /></a></li>
				<li class="info">
					<p>姓名：{$r[title]}</p>
					<p>专业特长：{$r[description]}</p>
					<p>教学理念：{$r[jxln]}</p>
				</li>
			</ul>
			{/loop}
			</dd>
			{/pc}
		</dl>
		</div>
		<div class="box_3_3">
		<dl>
			<dt class="fixed"><span class="title diamond">校友会</span><a href="{$CATEGORYS[37]['url']}" class="more">更多&gt;&gt;</a></dt>
			{pc:content action="lists" catid="37" num="2" order="listorder ASC" moreinfo="1"}
			<dd>
			{loop $data $r}
			<ul class="dashed">
				<li class="photo"><a href="{$r[url]}"><img src="{thumb($r[thumb],88,64)}" alt="{$r[title]}" /></a></li>
				<li class="info">
					<p>姓名：{$r[title]}</p>
					<p>专业：{$r[major]}</p>
					<p>毕业时间：{$r[enddate]}</p>
				</li>
				<li>单位：{$r[jydw]}</li>
			</ul>
			{/loop}
			</dd>
			{/pc}
		</dl>
		</div>
	</div>
	<!-- box_3结束 -->
	
	<!-- box_4开始 -->
	<div class="box_4 fixed">
	<div class="rollbox">
	{pc:content action="lists" catid="10" num="10" order="listorder ASC"}
	<ul class="school_view">
		{loop $data $r}
		<li><div class="pic"><a href="{$r[url]}"><img src="{thumb($r[thumb],158,104)}" alt="{$r[title]}" /></a></div><div class="title"><a href="{$r[url]}">{$r[title]}</a></div></li>
		{/loop}
	</ul>
	{/pc}
	</div>
	<script type="text/javascript">
	jQuery(".box_4").slide({mainCell:".rollbox ul",autoPlay:true,effect:"leftMarquee",vis:5,interTime:50});
	</script>
	
	<dl class="partners fixed">
		<dt><span class="title diamond">合作企业</span></dt>
		<dd class="fixed">
		{pc:content action="lists" catid="38" num="8" order="listorder ASC"}
		<ul>
			{loop $data $r}
			<li><a href="{$r[url]}"><img src="{thumb($r[thumb],118,56)}" alt="{$r[title]}" /></a></li>
			{/loop}
		</ul>
		{/pc}
		</dd>
	</dl>
	<ul class="footmenu fixed">
		<li><a href="{siteurl($siteid)}">网站首页</a></li>
		<li><a href="{$CATEGORYS[15]['url']}">{$CATEGORYS[15]['catname']}</a></li>
		<li><a href="{$CATEGORYS[6]['url']}">{$CATEGORYS[6]['catname']}</a></li>
		<li><a href="{$CATEGORYS[7]['url']}">{$CATEGORYS[7]['catname']}</a></li>
		<li><a href="{$CATEGORYS[8]['url']}">{$CATEGORYS[8]['catname']}</a></li>
		<li><a href="{$CATEGORYS[9]['url']}">{$CATEGORYS[9]['catname']}</a></li>
		<li><a href="{$CATEGORYS[10]['url']}">{$CATEGORYS[10]['catname']}</a></li>
		<li><a href="{$CATEGORYS[11]['url']}">{$CATEGORYS[11]['catname']}</a></li>
		<li><a href="{$CATEGORYS[12]['url']}">{$CATEGORYS[12]['catname']}</a></li>
		<li><a href="{$CATEGORYS[13]['url']}">{$CATEGORYS[13]['catname']}</a></li>
		<li><a href="{$CATEGORYS[14]['url']}">{$CATEGORYS[14]['catname']}</a></li>
	</ul>
	</div>
	<!-- box_4结束 -->
	<!-- 友情链接 开始 -->
	<div class="flink fixed">
		<ul>
		<li><strong>友情链接：</strong><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a><a href="#">庞大教育</a></dd>
		</li>
		</ul>
	</div>
	<!-- 友情链接 结束 -->
	<!-- 底部 开始 -->
	<div class="foot fixed">
		<p>河北庞锐汽车商学院地址：河北省唐山市古冶区林西西中街55号 联系电话：03158133833 邮编：063100</p>
	</div>
	<!-- 底部 结束 -->
</body>
</html>