<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
	<meta name="keywords" content="{$SEO['keyword']}"/>
	<meta name="description" content="{$SEO['description']}"/>
	<link rel="stylesheet" type="text/css" href="{SKIN_PATH}/css/main.css"/>
	<link rel="stylesheet" type="text/css" href="{SKIN_PATH}/css/common.css"/>
</head>
<body>
	{template "content","inc_header"}
	
	<!-- 头部广告 开始 -->
	<div class="top_ad">
	<a href="#"><img src="{SKIN_PATH}/images/img_topad.jpg" alt="" /></a>
	</div>
	<!-- 头部广告 结束 -->
	<div class="mainbox fixed">
		{template "content","inc_left"}
		
		<div class="rightbox fixed">
			<div class="location">
			当前位置：<a href="{siteurl($siteid)}">{$SEO['site_title']}</a> &gt; {catpos($catid)}列表页
			</div>
			<div class="img_list">
			
			{pc:content action="lists" catid="$catid" num="10" moreinfo="1" order="id DESC" page="$page"}
			<ul>
				{loop $data $r}
				<li><div class="photo"><a href="{$r[url]}"><img src="{thumb($r[thumb],311,180)}" alt="{$r[title]}" /></a></div><p><span class="title">{$catname}：</span><span class="title2">{$r[title]}</span></p></li>
				{/loop}
			</ul>
			{/pc}
			</div>
			<div id="pages" class="text-c">{$pages}</div>
		</div>
	</div>
	
	{template "content","inc_footer"}
</body>
</html>